
h1 {
color: red;
font-size: 50px;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
position: relative;
background-color: black;

border: 4px solid green;
}
.paragraph-1 {
    width: 300px;
    border: 1px solid red;
    box-sizing: border-box;
    padding: 20px 40px;
  
    
}
@media (max-width: 480px) {
.paragraph2{
    font-size: 28px;
}
h1{
    font-size: 35px;
}
}

button  {
    transition: 300ms;
    
    
}

button:hover {
    background-color: red;
    opacity: 40%;
    animation: pointdown 1000ms infinite;
  
}

.paragraph2 {
    color: purple;
    width: 300px;
    border: 1px solid red;
    padding: 20px 40px;
    
   

}
p.aside-1 {
padding: 20px 40px;
}
.aside-1 {
    color: orange;
    padding: 20px 40px;
    border: 1px dashed black;
    margin: 700px;
    left: 100px;
    bottom: 1300px;
    width: 100px;
    position: relative;
}

h2 {
    color: blue;
}
body {
    color: green;
    font-size: 15px;
    background-color: black;
    
}
nav{
    margin: 20px;
    
}
@keyframes pointdown {
0%{
transform: translateY(0);
}
100%{
transform: translateY(16px);
}
}
