* {
    max-width: 100%;
    box-sizing: border-box;
}

.prime1{
color: red;
font-size: 50px;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
position: relative;
background-color: black;

border: 4px solid green;
}
.paragraph-1 {
    color: green;
    width: 300px;
    border: 1px solid red;
    background-color: black;;
    padding: 20px 40px;
  text-transform: uppercase;
  font-weight: bold;
    
}
@media (max-width: 480px) {
.paragraph2{
    font-size: 28px;
}
h1{
    font-size: 35px;
}
}

button  {
    transition: 300ms;
    
    
}

button:hover {
    background-color: red;
    opacity: 40%;
    animation: pointdown 1000ms infinite;
  
}
.message-text {
color: red;
padding-top: 30px;
}
.last1 {
    padding-left: 20px;
};

body {
    background-color: black;
}



p.aside-1 {
padding: 20px;
}
.aside-1 {
    color: orange;
    padding: 20px 40px;
    border: 1px dashed black;
    margin: 700px;
    left: 100px;
    right: 100px;
    bottom: 1300px;
    width: 100px;
    position: relative;
}

.aside-class {
    padding:20px;
    width:300px;
}

.contact-text {
    padding-bottom: 50px;
}


.contact-header {
    color: red;
    font-size: 40px;
}
h2 {
    color: blue;
    
}



.availability-1 {
padding-top: 20px;

}
span {
    color: red;
}
    
.email-1 {
    padding-top: 20px;
    padding-left: 31px;
}
.date-1 {
    padding-bottom: 0px;
    padding-left: 59px;
}

.back1 {
    padding-top: 50px;
    
}

nav a {
    margin: 20px;
    
}
@keyframes pointdown {
0%{
transform: translateY(0);
}
100%{
transform: translateY(16px);
}
}

.test-para {
    background-color: black; /* Bright pink */
    color: green; /* Bright green */
    
    padding: 20px 40px;
    
    border: 1px solid #0000ff; /* Bright blue */
    text-transform: uppercase;
    width: 300px;
    
    
}